connector.type=gerrit
connector.host=gerrit
connector.path=/
connector.port=443
connector.username=sputnik
connector.password=sputnik
connector.useHttps=true
checkstyle.enabled=false
checkstyle.configurationFile=sun_checks.xml
checkstyle.propertiesFile=
pmd.enabled=true
pmd.ruleSets={{ sputnik_base_dir }}/{{ sputnik_version_directory }}/pmd/basic.xml
findbugs.enabled=true
findbugs.includeFilter=
findbugs.excludeFilter=
codenarc.enabled=false
codenarc.ruleSets=
codenarc.excludes=**/*.java
jslint.enabled=false
jshint.enabled=false
jshint.configurationFile=jshint.json
sonar.enabled=false
sonar.configurationFiles=sonar-project.properties, sonar-runner.properties
sonar.verbose=false